{% extends "base.html" %}
{% block app_head %}
<meta http-equiv="refresh" content="15"/>
{% endblock %}
{% block app_content %}
    {% for level in active_level %}
        <h4 class=text-dark>{{ level }}</h3>
        <table class="table table-striped table-sm">
            <tr>
                <th>Gymnast</th>
                <th>Club</th>
                <!--th>Level</th>-->
                {% if "Level" in level %}
                    <th>Age</th>
                {% endif %}
                <th>FX</th>
                <th><img src="{{ url_for('static',filename='gym_images/Hoop.png') }}"></th>
                <th><img src="{{ url_for('static',filename='gym_images/Ball.png') }}"></th>
                <th><img src="{{ url_for('static',filename='gym_images/Rope.png') }}"></th>
                <th><img src="{{ url_for('static',filename='gym_images/Clubs.png') }}"></th>
                <th><img src="{{ url_for('static',filename='gym_images/Ribbon.png') }}"></th>
            </tr>
            {% for k,v in gym_dict.items() %}
                {% if v.level == level %}
                <tr>
                    <td>{{ v.name }}</td>
                    <td>{{ v.club }}</td>
                    <!--td>{{ v.level }}</td>-->
                    {% if "Level" in level %}
                        <td>{{ v.age }}</td>
                    {% endif %}
                    <td>{{ v.FX }}</td>
                    <td>{{ v.Hoop }}</td>
                    <td>{{ v.Ball }}</td>
                    <td>{{ v.Rope }}</td>
                    <td>{{ v.Clubs }}</td>
                    <td>{{ v.Ribbon }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
{% endblock%}